name: 'launch_args'
description: 'Plugin to get command line launch args for both Android and iOS.'
version: '2.0.3'
homepage: 'https://github.com/peiffer-innovations/launch_args'

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=2.5.0'

dependencies:
  flutter:
    sdk: 'flutter'
  logging: '^1.1.1'

dev_dependencies:
  flutter_test:
    sdk: 'flutter'

flutter:
  plugin:
    platforms:
      android:
        package: 'com.pi.launchargs'
        pluginClass: 'LaunchArgsPlugin'
      ios:
        pluginClass: 'LaunchArgsPlugin'

ignore_updates:
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'vector_math'
  - 'webdriver'
